In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
fruits_list = ["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"]

In [3]:
fruits = pd.Series(fruits_list)
type(fruits)

pandas.core.series.Series

In [4]:
fruits

0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

## Exercises Part I

In [5]:
# Determine the number of elements in fruits.
fruits.size

17

In [6]:
fruits.shape

(17,)

In [7]:
# Output only the index from fruits.
fruits.index

RangeIndex(start=0, stop=17, step=1)

In [8]:
fruits.index.tolist()

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

In [9]:
# Output only the values from fruits.
fruits.values

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew', 'kiwi',
       'kiwi', 'kiwi', 'mango', 'blueberry', 'blackberry', 'gooseberry',
       'papaya'], dtype=object)

In [10]:
# Confirm the data type of the values in fruits.
fruits.dtype

dtype('O')

In [11]:
# Output only the first five values from fruits.
fruits.head()

0          kiwi
1         mango
2    strawberry
3     pineapple
4    gala apple
dtype: object

In [12]:
# Output the last three values. 
fruits.tail(3)

14    blackberry
15    gooseberry
16        papaya
dtype: object

In [13]:
# Output two random values from fruits.
fruits.sample(2)

5    honeycrisp apple
3           pineapple
dtype: object

In [14]:
# Run the .describe() on fruits to see what information 
# it returns when called on a Series with string values.
fruits.describe()

count       17
unique      13
top       kiwi
freq         4
dtype: object

In [15]:
# Run the code necessary to produce only the unique string values from fruits.
fruits.unique()

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew',
       'blueberry', 'blackberry', 'gooseberry', 'papaya'], dtype=object)

In [16]:
# Determine how many times each unique string value occurs in fruits.
fruits.value_counts()

kiwi                4
mango               2
tomato              1
gooseberry          1
blackberry          1
honeydew            1
gala apple          1
watermelon          1
papaya              1
strawberry          1
honeycrisp apple    1
pineapple           1
blueberry           1
dtype: int64

In [17]:
# Determine the string value that occurs most frequently in fruits.
fruits.mode()

0    kiwi
dtype: object

In [18]:
fruits.value_counts().idxmax()

'kiwi'

In [19]:
fruits.value_counts().nlargest(n=1, keep='all')

kiwi    4
dtype: int64

In [20]:
# Determine the string value that occurs least frequently in fruits.
fruits.value_counts(ascending = True)

tomato              1
gooseberry          1
blackberry          1
honeydew            1
gala apple          1
watermelon          1
papaya              1
strawberry          1
honeycrisp apple    1
pineapple           1
blueberry           1
mango               2
kiwi                4
dtype: int64

In [21]:
fruits.value_counts().nsmallest(n=1, keep='all')

tomato              1
gooseberry          1
blackberry          1
honeydew            1
gala apple          1
watermelon          1
papaya              1
strawberry          1
honeycrisp apple    1
pineapple           1
blueberry           1
dtype: int64

## Exercises Part II

In [ ]:
# Capitalize all the string values in fruits.
fruits.str.capitalize()

In [ ]:
# Count the letter "a" in all the string values (use string vectorization).
fruits.str.count('a')

In [ ]:
# Output the number of vowels in each and every string value.
fruits.str.count(r'[aeiou]')

In [ ]:
# Write the code to get the longest string value from fruits
max(fruits, key=len)

In [ ]:
# Write the code to get the string values with 5 or more 
# letters in the name
fruits[fruits.str.len() >= 5]

In [ ]:
# Use the .apply method with a lambda function to find the fruit(s) 
# containing the letter "o" two or more times.
fruits[fruits.apply(lambda x: x.count('o') >= 2)]

In [ ]:
# Write the code to get only the string values containing the substring "berry".
fruits[fruits.str.contains('berry')]

In [ ]:
# Write the code to get only the string values containing the substring "apple".
fruits[fruits.str.contains('apple')]

In [ ]:
# Which string value contains the most vowels?
fruits[max(fruits.str.count(r'[aeiou]'))]